body{
    font-family: Helvetica, Arial;
    color: #675c5c;
}
header{
    float: left;
    background-color: #79BD9A;
    width: 100%;
}

header p{
    float: right;
}

a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color: #fff;
    background: #0B486B;
    padding: 20px 5px;
}

#logo{
    float: left;
    /*aqui fala que o logo vai ter 40% do tamanho geral da tela*/
    width: 40%;
    height: 40%;
    display: inline-block;
}

nav{
    float: right;
    padding: 20px
}

#menu-icon{
    display: hidden;
    width: 40px;
    height: 40px;
    background:  url(../img/menu-icon.png) center;
}

ul{
    list-style: none;
}

li{
    /*aqui ele coloca os items da sua lista uma do lado da outra e não uma embaixo da outra*/
    display: inline-block;
    float: left;
    padding: 10px;
}

footer{
    background-color: #3B8686;
    color: white;
    text-align: center;
    padding: 5px;
}

input[type=text],input[type=email], textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border:1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.button{
    background-color: #79BD9A;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.detalhes, .map{
    width: 49.4%;
    float:left;
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-bottom: 5px;
}

.map img{
        max-width: 100%;
        height: 180px;
    }
.map{
    margin-left: 5px;
}
/*MEDIA QUERY*/
@media only screen and (min-width: 481px){
    #menu-icon{
        display: hidden; 
    }

    body{
        width: 100%;
        margin: 0 auto;
    }
    header{
        height: 250px;
    }
    
    #prom1{
        width: 48%;
        float: left;
    }
    #prom2{
        width: 48%;
        float: right;
    }
    #gerais1, #gerais2, #gerais3{

        box-shadow: 10px 10px 5px #000000;
        border-radius: 5px;
        float: left;
        width: 32%;
    }
    #gerais2 img{
        max-width: 100%;
        height: 180px;
    }
    .depoimentos{
        box-shadow: 10px 10px 5px #888888;
        border-radius: 5px;
        width: 47%;
        float: left;
        margin: 0 0 15px 15px;
    }
    footer{
        height: 200px;
        clear: both;
    }
    .copyright{

    }
    #slogan{
        margin-right: 10px;
        font-weight: bold;
        letter-spacing: 7px;
    }
}
@media only screen and (max-width: 640px){
    #menu-icon{
        display: inline-block; 
    }

    nav ul{
        display: none;
        position: absolute;
        right: 20px;
        top: 60px;
        padding: 20px;
        background: #fff;
        width: 20%;
    }

    nav li{
        text-align: left;
        width: 100%;
        padding: 10px 0px;
        margin: 0;
    }

    nav:hover ul{
        display: block;
    }

    nav li a{
        color: #3B8686;
    }
    p{
        text-align: justify;
    }

    .depoimentos{
        box-shadow: 10px 10px 5px #000000;
        border-radius: 5px;
        width: 95%;
        padding-right: 10px;
    }
    nav#nav-footer {
        display: none;
    }
    #copyright p{
        text-align: center;
    }
}